body{
    background-color: rgb(44, 42, 42);
}

input{
    color: black;
    cursor: pointer;
    box-sizing: border-box;
}

.inputt{
    color: rgb(131, 127, 127);
    text-align: center;
    font-size: x-large;

}

.calc,
.ms{
    color: #dfa105;
}



.speed{
    color: rgb(131, 127, 127);
    text-align: center;
    font-size: large;
}

.error{
    color: red;
    font-weight: bold;
}

.err-warn{
    color: white;
    font-weight: bold;
}

.content{
    text-align: center;
}

.hidden{
    display: none;
}
